<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>MI</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginActionServlet</servlet-name>
    <servlet-class>servlet.LoginActionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterActionServlet</servlet-name>
    <servlet-class>servlet.RegisterActionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ValidationCodeServlet</servlet-name>
    <servlet-class>servlet.ValidationCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LogoutActionServelt</servlet-name>
    <servlet-class>servlet.LogoutActionServelt</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TypeServlet</servlet-name>
    <servlet-class>servlet.TypeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>servlet.CartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CartDelServlet</servlet-name>
    <servlet-class>servlet.CartDelServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BuyServlet</servlet-name>
    <servlet-class>servlet.BuyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PageServlet</servlet-name>
    <servlet-class>servlet.PageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>servlet.IndexServlet</servlet-class>
  </servlet>















  <servlet-mapping>
    <servlet-name>LoginActionServlet</servlet-name>
    <url-pattern>/servlet/LoginActionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterActionServlet</servlet-name>
    <url-pattern>/servlet/RegisterActionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValidationCodeServlet</servlet-name>
    <url-pattern>/servlet/ValidationCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutActionServelt</servlet-name>
    <url-pattern>/servlet/LogoutActionServelt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TypeServlet</servlet-name>
    <url-pattern>/servlet/TypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/servlet/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/servlet/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartDelServlet</servlet-name>
    <url-pattern>/servlet/CartDelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/servlet/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BuyServlet</servlet-name>
    <url-pattern>/servlet/BuyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PageServlet</servlet-name>
    <url-pattern>/servlet/PageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index.jsp</url-pattern>
  </servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/z.protect/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AutoLoginFilter</filter-name>
        <filter-class>filter.AutoLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AutoLoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
   
    <filter>
        <filter-name>IPFilter</filter-name>
        <filter-class>filter.IPFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>IPFilter</filter-name>
        <url-pattern>/z.protect/*</url-pattern>
    </filter-mapping>

    
    <filter>
        <filter-name>CharacterFilter</filter-name>
        <filter-class>filter.CharacterFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CharacterFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>IndexFilter</filter-name>
        <filter-class>filter.IndexFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>IndexFilter</filter-name>
        <url-pattern>/shouye.jsp</url-pattern>
    </filter-mapping>
</web-app>
